
<h1>Welcome <%= @user.username %> </h1>

<% if @message %> 

<p class="color">You wrote <b><%= @sent_to_users.map{ |x| x.username }.join(", ") %></b></p>
<h4>The Updated Message: <%= @message.message %></h4>
<p>Write new message:</p>
<% end %>
<% unless @message %>
<p>Write a new message: </p>
<% end %>
<% if @session.has_key?("message") && @session["message"] == "Fill out message section" %>
<p><%= @session["message"] %></p>
<% end %>
<% if Helpers.is_logged_in?(session) %>


<form action="/message/sent" method="POST">
<p>Title:<input type="text" name="title" id="title"></p>

<br><br>
<input type="hidden" name="author" value="<%= @user.username %>" checked >From <%=@user.username %><br>
<textarea class = "content" name="message" rows="5" cols="15">

</textarea> 
<input type="submit" id="submit" value="send it">  
</form>

<h3><a href="/user/logout">Log out</a></h3>  
<% else %>
<h4>LOG IN PLEASE</h4>
<% end %>



