<h1>Welcome <%= @user.username %></h1>
<p>Send to: </p>
<% if Helpers.is_logged_in?(session) %>
<% User.all.each do |x| %> 
<% unless x.id == @user.id %>
<form action="/message/send" method="POST">

<input type="checkbox" name="user[id][]" id="<%= x.id %>" value="<%= x.id %>"><%= x.username %><br>
<% end %>
<% end %>
<br><br>
<input type="checkbox" name="author" value="<%= @user.username %>" checked >From <%=@user.username %><br>
<textarea name="message" rows="10" cols="30">
Fuck me
</textarea> 
<input type="submit" id="submit" value="send it">  
</form>
<h3><a href="/user/logout">Log out</a></h3> 
<% else %> 
<h4><%binding.pry%>YES</h4>
<% end %>