<% session["message"] = "" %>
<h1 ><%= @message.author %></h1>

<div class="task">
<h3>It's been noted</h3>
<div class="force"> 
    <div class="box">
    <% user = params[:user] %>
    <form action="/message/<%= @message.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label for "title">Title:</label>
      <input type="text" id="title" name="title" value="<%= @message.title %>" >
      <br />
      <% id = @user.id %>
      <label for "name">Message:</label> 
    
      <br />  
      
      <textarea class = "content" name="message" rows="17" cols="27">
      <%= @message.message %>
      </textarea> 
      
       
      <br />
      <b>Change the note<input type="submit" value="Update" id="Update"></b>
    </form>
<form method="post" action="/message/<%= @message.id %>/delete"> 
    
  <b>Delete the note<input type="hidden" name="_method" value="delete" /></b>
  <input type="submit" value="delete"/> 
  
</form> 
<br><p><a href="/user/<%= id %>" > write a new message</a></p> 
</div> 
</div>

 
