
<html>
  <head> 
  <link href='/public/stylesheets/sent' type="text/css" rel="stylesheet" />
  
  <link rel="stylesheet" href="/stylesheets/sent.css" /> 
  </head>
  <body>


<h1><%= @user.username %></h1> 

<h1>You have written <%= @messages.count %> notes</h1> 
<div class="task">
<% if @messages == [] %> 
<% id = @user.id %>
<p><%= @user.username %><a href="/user/<%= id %>" > write a message</a></p> 
<% end %>

<% @messages.each do |message| %>   
  <% if message.try(:author) == @user.username %>
  <div class="box">  
  <p class="message">Title <i><%= message.try(:title) %></i></p>
  <p class="message"><b><%= message.try(:message) %></b></p>  
  <%  message.try(:created_at) %>
  <p class="message"><i><%= message.try(:created_at).try(:month) %>/<%= message.try(:created_at).try(:day) %>/<%= message.try(:created_at).try(:year)%></i></p> 
  
  <a href='/message/<%= message.try(:id) %>/edit'>Edit</a>
  <br> 
  <%  %>
  <a href='/message/<%= message.try(:id) %>/delete'>Delete</a>
  </div>
  <% end %> 
 
  <% end %>
  </br>
  <div id="end">
  <footer>
  
<form action="/user/<%= @user.id %>/sent_all" method="get">
  <input type="hidden" name="filtered" value="reverse">
  <h1>
  <input type="submit" value="most recent"></h1>
  </form>
  </footer>
</div>

</body>
</html>