
<html>
  <head> 
  <link href='/public/stylesheets/sent' type="text/css" rel="stylesheet" />
  
  <link rel="stylesheet" href="/stylesheets/sent.css" /> 
  </head>
  <body>


<h1><%= @user.username %></h1>
<h1>You have written <%= @messages.count %> messages</h1> 
<div class="task">
<% if @messages == [] %> 
<% id = @user.id %>
<p><%= @user.username %><a href="/user/<%= id %>" >send a message</a></p> 
<% end %>
<% unless @messages == [] %> 
<% %>
<% @messages.each do |message| %>   
  <div class="box"> 
  
  <p class="message">Title <i><%= message.title %></i></p>
  <p class="message"><b><%= message.message %></b></p>
  <form method="post" action="/message/<%= message.id %>/delete"> 
  Delete this message<input type="hidden" name="_method" value="delete" />
  <input type="submit" value="delete"/>
  </div>
 

<% end %>
<% end %> 
</body>
