
<html>
  <head> 
  <link href='/public/stylesheets/sent' type="text/css" rel="stylesheet" />
  
  <link rel="stylesheet" href="/stylesheets/sent.css" /> 
  </head>
  <body>


<h1><%= @user.username %></h1>
<h1>You have sent <%= @messages.count %> messages</h1> 
<div class="task">
<% if @messages == [] %> 
<% id = @user.id %>
<p><%= @user.username %><a href="/user/<%= id %>" >send a message</a></p> 
<% end %>
<% unless @messages == [] %> 
<%  %>
<% @messages.each do |message| %>   
<% user = User.find_by(id: message.sent_to.to_i) %>
<div class="box">
<p class="message">You sent <i><%= user.username %></i>:</p>
<p class="message"><%= message.message %></p>
</div>
<% end %>
<% end %> 
</body>
