<h1 ><%= @message.author %></h1>
 
<div class="task">

<div class="force"> 
    <div class="box">
    <% user = params[:user] %>
    <form action="/message/<%= @message.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label for "title">Title:</label>
      <input type="text" id="title" name="title" value="<%= @message.message %>" >
      <br />
      <label for "name">Message:</label>
      <input type="text" id="message" name="message" value="<%=@message.message %>">
      <br />
      <b>Change the message<input type="submit" value="EDIT" id="Update"></b>
    </form>
<form method="post" action="/message/<%= @message.id %>/delete"> 
  
  <b>Delete the message<input type="hidden" name="_method" value="delete" /></b>
  <input type="submit" value="delete"/>
</form> 

</div> 
</div>

 
