<html>
  <head> 
  <link href='/public/stylesheets/sent' type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/sent.css" /> 
  </head>
  <body>
<% @messages.each do |message| %> 
<div class="box">
    <h2><%= message.title %></h2>
    <h3><%= message.message %></h3> 
    <h4>Author <i><%= message.author %></i> <%= message.created_at.month %>/<%= message.created_at.day %>/<%= message.created_at.year %></h4>
</div>
<% end %>

